$icon-width: 40px;
$icon-height: 40px;
$carousel-padding: .5rem;
$netflix-logo-width: 111px;
$netflix-logo-height: 30px;
$header-min: 50px;
$arw-btn-width: calc(max(20px, 2.75vw));
$hover-scale: 1.3;
$footer-min: 70px;
$footer-height: calc(max(7vh, #{$footer-min}));

//breakpoints
$mob-break: 700px;
$tab-break: 1100px;