@import './abstracts/variables';

img {
    @media only screen and (max-width: $tab-break) {
        width: calc(375px * 0.45);
        height: calc(210.75px * 0.45);
    }
    @media only screen and (max-width: $mob-break) {
        width: calc(375px * 0.3);
        height: calc(210.75px * 0.3);
    }

    position: relative;
    width: calc(375px * 0.6);
    height: calc(210.75px * 0.6);
    transition: all .25s ease-in;
}

img:hover{
    @media only screen and (max-width: $tab-break) {
        width: calc( 375px * 0.45 * #{$hover-scale} );
        height: calc( 210.75px * 0.45 * #{$hover-scale} );
    }
    @media only screen and (max-width: $mob-break) {
        width: calc(375px * 0.3 * #{$hover-scale});
        height: calc(210.75px * 0.3 * #{$hover-scale});
    }

    width: calc(375px * 0.6 * #{$hover-scale});
    height: calc(210.75px * 0.6 * #{$hover-scale});
}