@import './abstracts/variables';
@import './abstracts/colors';

.footer-li{
    box-sizing: border-box;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-size: .75rem;

    .footer-li-content{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        filter:brightness(50%);
        
        &[data-active='true']{
            filter: none;
        }
        
        &:hover{
            cursor: pointer;
            filter: none;
        }

        .menu-icon{
            pointer-events: none;
            box-sizing: border-box;
            transform: scale(.8,.8);
        }
    }
}