.header-li {
    margin: 0 10px;
    color: hsl(0, 0%, 50%);
    font-size: 1rem;
}

.header-li[data-active='true'] {
    color: hsl(0, 0%, 100%);
}
        
.header-li:hover {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}